{% extends "users/base.html" %}
{% block content %}
<div class="card mx-auto" style='width: 40rem;'>
    <div class="card-body">
    <h5 class="card-title mb-3">login</h5>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
    <Label for='exampleInputEmail'class="form-label">Username</label>
        <input type='input'name='Username'class='form-control'id='exampleInputEmail' aria-describedby='emailaqui'></input>
    </div>
    <div class="mb-3">
        <Label for='exampleInputPassword1'class="form-label">password</label>
            <input type='password' name='password'class='form-control'id='exampleInputPassword1'></input>
    </div>
    <button  class='btn btn-primary'>submit</button>
</form>
    </div>
</div>
{% endblock content %}